<!-- <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
  </div>
</div> -->
<div class="footer">
  <div class="footer-avisos-legais">
    <%#= link_to "Información", informacion_path %>
    <%#= link_to "FAQ", faq_path %>
    <%= link_to "Aviso de privacidad", privacidad_path %>
    <%= link_to "Terminos y condiciones", condiciones_path %>
  </div>

  <div class="footer-copyright">
    hecho com <i class="fa fa-heart"></i> por DSMX
  </div>
</div>
