<div class="container-pre-nav">
<div class="pre-nav-address">
Alfonso Reyes 195, Hipódromo, Ciudad de México, CDMX
</div>
<div class="pre-nav-informacion">
<a href="mailto:clement@chelita-linda.com?Subject=Hola-Taller" target="_blank"></i> contacto </a> |

tel
</div>
</div>
