<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/greggstyle/image/upload/v1534063213/TALLER%20-%20Chelita%20Linda/6109431763_f6edd2aa9f_b.jpg');">
  <div class="banner-content">
    <h1>Taller para hacer tu propia cerveza</h1>
    <p>Degustación y maridaje</p>

    <%= link_to "Reservar", contact_path, class: "btn btn-primary btn-home-atelier btn-lg" %>
  </div>
</div>

<!-- <iframe width="600" height="450" frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/view?zoom=17&center=19.4073,-99.1746&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" allowfullscreen></iframe> -->

  <div class="container-home-ubicacion">

    <iframe
    class="googlemap-home" frameborder="0" scrolling="no"
    src="https://maps.google.com.au/maps?q=Alfonso%20Reyes%20195%2C%20Hip%C3%B3dromo%2C%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX&t=&z=13&ie=UTF8&iwloc=&amp;output=embed"></iframe>

  </div>


  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card-degustacion" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/greggstyle/image/upload/v1534063213/TALLER%20-%20Chelita%20Linda/degustacion.jpg');">
          <div class="card-category">Taller</div>
          <div class="card-description">
            <h2>Degustación</h2>
            <!--             <p>inform</p> -->
          </div>
          <a class="card-link" href="/ateliers" ></a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
       <div class="card-degustacion" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/greggstyle/image/upload/v1534063213/TALLER%20-%20Chelita%20Linda/6109431763_f6edd2aa9f_b.jpg');">
        <div class="card-category">Taller</div>
        <div class="card-description">
          <h2> Degustación y maridaje</h2>
          <!--           <p>blablabalbala</p> -->
        </div>
        <a class="card-link" href="/ateliers" ></a>
      </div>

    </div>
    <div class="col-xs-12 col-sm-4">
     <div class="card-degustacion" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/greggstyle/image/upload/v1534063215/TALLER%20-%20Chelita%20Linda/haz-tu-cerveza.jpg');">
      <div class="card-category">Taller</div>
      <div class="card-description">
        <h2>Taller Haz tu cerveza</h2>
        <!--         <p>blablabalbala</p> -->
      </div>
      <a class="card-link" href="/ateliers" ></a>
    </div>
  </div>
</div>


