
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/greggstyle/image/upload/v1534063213/TALLER%20-%20Chelita%20Linda/6109431763_f6edd2aa9f_b.jpg');">
  <div class="banner-content">
    <h1>Taller para hacer tu propia cerveza</h1>
    <p>Degustación y maridaje</p>

    <%= link_to "Reservar", contact_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>

<!-- <iframe width="600" height="450" frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/view?zoom=17&center=19.4073,-99.1746&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" allowfullscreen></iframe> -->

  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/greggstyle/image/upload/v1534063214/TALLER%20-%20Chelita%20Linda/queso-y-cerveza.jpg');">
    <div class="card-description">
      <h2>ICI GOOGLE MAPS </h2>

    </div>
    <!--   <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay"> -->
    <a class="card-link" href="#" ></a>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card-degustacion" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/greggstyle/image/upload/v1534063213/TALLER%20-%20Chelita%20Linda/degustacion.jpg');">
          <div class="card-category">Taller</div>
          <div class="card-description">
            <h2>Degustación</h2>
            <p>blablabalbala</p>
          </div>
          <a class="card-link" href="#" ></a>
        </div>

      </div>
      <div class="col-xs-12 col-sm-4">
       <div class="card-degustacion" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/greggstyle/image/upload/v1534063213/TALLER%20-%20Chelita%20Linda/6109431763_f6edd2aa9f_b.jpg');">
        <div class="card-category">Taller</div>
        <div class="card-description">
          <h2> Degustación y maridaje</h2>
          <p>blablabalbala</p>
        </div>
        <a class="card-link" href="#" ></a>
      </div>

    </div>
    <div class="col-xs-12 col-sm-4">
     <div class="card-degustacion" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/greggstyle/image/upload/v1534063215/TALLER%20-%20Chelita%20Linda/haz-tu-cerveza.jpg');">
      <div class="card-category">taLLLER</div>
      <div class="card-description">
        <h2>Taller Haz tu cerveza</h2>
        <p>blablabalbala</p>
      </div>
      <a class="card-link" href="#" ></a>
    </div>
  </div>
</div>

