      <div style="background-color:#ffffff;">
<h1 style="padding-left:30px;">Aviso de Privacidad</h1>
<p style="padding-left:30px;">AVISO DE PRIVACIDAD de chelita-linda.com, de conformidad con la LEY FEDERAL DE PROTECCIÓN DE DATOS PERSONALES EN POSESIÓN DE LOS PARTICULARES.</p>
<p style="padding-left:30px;">Este aviso tiene como finalidad informarle al nuestros clientes el tipo de datos personales que recabamos, cómo los usamos, manejamos, aprovechamos, con quien los compartimos y como pueden cancelar o cambiar los datos proporcionados.</p>
<h3 style="padding-left:30px;">¿Qué datos personales recabamos de nuestros clientes?</h3>
<p style="padding-left:30px;">Con la finalidad de brindarles el mejor servicio posible, en chelita-linda.com les podremos solicitar a nuestros clientes la siguiente información personal:</p>
<ul style="padding-left:30px;"><li>    Su nombre, nacionalidad, lugar y fecha de nacimiento, ocupación y domicilio.</li>
<li>    Su correo electrónico y número telefónico de contacto.</li>
</ul><h3 style="padding-left:30px;">¿Para qué usamos sus datos personales?</h3>
<p style="padding-left:30px;">En chelita-linda.com utilizaremos sus datos personales para el cumplimiento de las siguientes finalidades:</p>
<ul style="padding-left:30px;"><li>    Confirmar su identidad;</li>
<li>    Entregar a la persona correcta el pedido solicitado;</li>
<li>    Enviar promociones de chelita-linda.com;</li>
<li>    Verificar la información que nos proporciona;</li>
<li>    Y en general, para brindarle el mejor servicio posible. </li>
</ul><h3 style="padding-left:30px;">¿Con quién compartimos su información y para qué fines?</h3>
<p style="padding-left:30px;">En chelita-linda.com no queremos que nuestros clientes se preocupen por sus datos personales, por esa razón sus datos personales sólo son tratados por el personal de chelita-linda.com con la finalidad de proporcionarle el mejor servicio posible a nuestros clientes, por lo cual, sus datos personales no se transfieren a ningún tercero ajeno a nuestra compañía.</p>
<h3 style="padding-left:30px;">¿Cómo puede limitar el uso o divulgación de su información personal?</h3>
<p style="padding-left:30px;">Nuestros clientes en todo momento pueden limitar el uso y divulgación de su información personal a través de los siguientes medios que hemos puesto a su disposición:</p>
<ul style="padding-left:30px;"><li>    Presentando su solicitud personalmente en nuestro domicilio dirigida a la persona encargada de la privacidad en esta oficina.</li>
<li>    Enviando correo electrónico a la siguiente dirección electrónica: <a href="mailto:avisodeprivacidad@chelita-linda.com">avisodeprivacidad@chelita-linda.com</a>.</li>
</ul><h3 style="padding-left:30px;"> ¿Cómo acceder, rectificar, cancelar u oponerse al tratamiento de sus datos personales?</h3>
<p style="padding-left:30px;">El ejercicio de los derechos de acceso, rectificación, cancelación y oposición o la revocación del consentimiento, podrán efectuarse presentado solicitud por escrito en nuestro domicilio dirigida a la persona o departamento de privacidad, o bien, vía correo electrónico a <a href="mailto:avisodeprivacidad@chelita-linda.com">avisodeprivacidad@chelita-linda.com</a>.</p>
<h3 style="padding-left:30px;">¿Cómo conocer los cambios al presente aviso de privacidad?</h3>
<p style="padding-left:30px;">El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones por lo cual nos comprometemos a mantenerlo informado de tal situación a través de alguno de los siguientes medios:</p>
<ul style="padding-left:30px;"><li>    En la página de internet <a href="http://www.chelita-linda.com">www.chelita-linda.com</a>.</li>
<li>    En nuestras redes sociales</li>
<li>    En la primera comunicación que tengamos con usted después del cambio.</li>
</ul><h3 style="padding-left:30px;"> ¿Cómo contactarnos?</h3>
<p style="padding-left:30px;">Si usted tiene alguna duda sobre el presente aviso de privacidad, puede dirigirla a:</p>
<ul style="padding-left:30px;"><li>    Correo electrónico: <a href="mailto:avisodeprivacidad@chelita-linda.com">avisodeprivacidad@chelita-linda.com</a></li>
</ul><p style="padding-left:30px;">Asimismo, ponemos a su entera disposición copias del presente aviso de privacidad en nuestro domicilio y en nuestra página de Internet</p>
<p style="padding-left:30px;">Buena Degustación.</p>
<p style="padding-left:30px;">Atte. Equipo de Chelita Linda</p>


      <h4>
  Información relacionada con la resolución de disputa en línea del Art. 14, párr. 1 del ODR (Regulación de resolución de disputa en línea):
</h4>

<p>
  La Comisión Europea ofrece a los consumidores la oportunidad de resolver disputas en línea conforme al Art. 14, párr. 1 del ODR en una de sus plataformas. La plataforma (<a href="http://ec.europa.eu/consumers/odr" target="_blank" rel="nofollow">http://ec.europa.eu/consumers/odr</a>) sirve como web en la que los consumidores pueden intentar llegar a acuerdos sin ir a juicio relacionados con las disputas que surjan en las compras y contratos de servicios en línea.
</p>
</div>
