<div class ="container">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-10">

      <ul>
        <h1> Atelier </h1>
        <h3><%= atelier.name %></h3>
      </ul>
      <%= link_to "home", root_path, class: 'btn btn-info'%>
    </div>
  </div>
</div>
