.wrapper-orange {
  // background: #f7d262;
  background: #d867c6;
  background: -webkit-linear-gradient(45deg, #5b5122, #ed9017);
  background: -o-linear-gradient(45deg, #5b5122, #ed9017);
  background: -moz-linear-gradient(45deg, #5b5122, #ed9017);
  background: linear-gradient(45deg, #5b5122, #ed9017);
}

